@charset "utf-8";
/* CSS Document */

body{
	background-color:#F3F3F3;
	width: 800px;
	margin-left:auto;
	margin-right:auto;
}
#container{
	
}
h3{

	border:groove thick #D4D4D4;
	
	
	border-bottom:hidden;
}